# Unity'nin kendi ürettiği, yedeklenmesi gerekmeyen klasörler
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Kod editörlerinin dosyaları
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Derleme ve geçici dosyalar
*.apk
*.aab
*.unitypackage
*.app
crashlytics-buildid.txt
sysinfo.txt

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db
desktop.ini
/HamVeri/
